/* PAGE ABOUT US */

.container-about_us-page {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.container-about_us-page .image {
  position: relative;
  height: 200px;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/bg-about-us.JPG);
  background-size: contain;
  background-repeat: no-repeat;
}

.container-about_us-page .image::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ffffff;
  border-right: 200px solid transparent;
  z-index: 1;
}

.container-about_us-page .text {
  z-index: 2;
}

.container-about_us-page .text .label {
  width: 300px;
  margin-bottom: 1.5em;
  margin-top: -2em;
}

.container-about_us-page .text .label h3 {
  font-family: "PinyonScript";
  font-size: 1.1rem;
  color: #070d59;
  margin-bottom: 0.5em;
  z-index: 2;
}

.container-about_us-page .text .label h3 > span {
  color: #f7b633;
}

.container-about_us-page .text .label h2 {
  font-size: 2.2rem;
}

.container-about_us-page .text .label h2 > span::before {
  content: "\A";
  white-space: pre;
}

.container-about_us-page .text .label span.line {
  display: block;
  margin: auto;
  margin-right: 55px;
  margin-top: 0.5em;
  height: 4px;
  width: 50px;
  border-radius: 3px;
  background-color: #f7b633;
}

.container-about_us-page .text p {
  margin-bottom: 1em;
  line-height: 1.7em;
  text-align: justify;
}

@media (min-width: 576px) {
  .container-about_us-page {
    width: 80%;
    margin: auto;
  }
  .container-about_us-page .image {
    width: 55%;
  }

  .container-about_us-page .image::before {
    border: none;
    left: auto;
    right: -2px;
    bottom: -2px;
    border-bottom: 100px solid #ffffff;
    border-left: 100px solid transparent;
  }

  .container-about_us-page .text .label {
    margin: 0;
    margin-left: 50%;
    margin-top: -3em;
    margin-bottom: 2em;
  }
  .container-about_us-page .text p {
    margin-bottom: 0.9em;
  }
}

@media (min-width: 960px) {
  .container-about_us-page {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1150px;
  }

  .container-about_us-page .image {
    height: 500px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .container-about_us-page .image::before {
    border: none;
    border-bottom: 300px solid #ffffff;
    border-left: 200px solid transparent;
    z-index: 1;
  }

  .container-about_us-page .text {
    width: 50%;
    z-index: 2;
    margin-left: 2em;
  }

  .container-about_us-page .text .label {
    width: 300px;
    margin: 0;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .container-about_us-page .text .label h3 {
    font-size: 1.5rem;
  }

  .container-about_us-page .text .label h2 {
    font-size: 2.5rem;
  }

  .container-about_us-page .text .label span.line {
    margin-right: 20px;
  }

  .container-about_us-page .text p {
    font-size: 1.2rem;
    line-height: 2em;
    margin-bottom: 1em;
  }
}
