/* PAGE COTTAGES */

.container-cottages {
  padding: 1.5em;
}

.container-cottages .header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-cottages.JPG);
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cottages .header h1 {
  color: #ffffff;
  text-transform: uppercase;
}

.container-cottages p {
  text-align: justify;
  line-height: 1.5em;
  margin: 1em 0;
}

.container-cottages .content ul {
  font-family: "Montserrat-Regular";
  font-size: 1rem;
  padding-left: 2em;
  line-height: 1.5em;
}

.container-cottages .gallery {
  width: 100%;
  margin-top: 1em !important;
  margin: auto;
}

.container-cottages .gallery a > img {
  width: 32%;
}

@media (min-width: 576px) {
  .container-cottages {
    width: 80%;
    margin: auto;
  }
  .container-cottages .header {
    height: 200px;
  }

  .container-cottages .gallery a > img {
    width: 24%;
  }
}

@media (min-width: 960px) {
  .container-cottages {
    margin: auto;
    width: 100%;
    max-width: 1150px;
  }
  .container-cottages .header {
    height: 300px;
  }
  .container-cottages .header h1 {
    font-size: 3rem;
  }
  .container-cottages .content p {
    font-size: 1.2rem;
    line-height: 2em;
  }
  .container-cottages .content ul > li {
    font-size: 1.2rem;
    line-height: 2em;
  }
}
