/* HEADER - slider */

.container-header {
  width: 100%;
  height: calc(100vh - 100px);
}

.container-header .slide {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container-header .slide.active-slide {
  display: flex;
}

.container-header .slide h1 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em 0.5em;
  text-align: center;
  border-radius: 30px;
}

.container-header .slide.first {
  background-image: url(../images/bg-slide1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
.container-header .slide.second {
  background-image: url(../images/bg-slide2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container-header .slide.third {
  background-image: url(../images/bg-slide3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

.container-header .slide h1 > span::before {
  content: "\A";
  white-space: pre;
}

/* ABOUT US */

.container-about_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  padding: 1.5em;
}
.container-about_us .content p {
  line-height: 1.7em;
  text-align: justify;
}
.container-about_us .label {
  margin-bottom: 1.5em;
}

.container-about_us .label h3 {
  font-family: "PinyonScript";
  font-size: 1.1rem;
  color: #070d59;
  margin-bottom: 0.5em;
}

.container-about_us .label h3 > span {
  color: #f7b633;
}

.container-about_us .label h2 {
  font-size: 2.2rem;
}

.container-about_us .label h2 > span::before {
  content: "\A";
  white-space: pre;
}

.container-about_us .label span.line {
  display: block;
  margin: auto;
  margin-right: 0;
  margin-top: 0.5em;
  height: 4px;
  width: 50px;
  border-radius: 3px;
  background-color: #f7b633;
}

/* BOXES */

.container-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  margin-top: 2em;
  overflow-x: hidden;
}

.container-boxes .box {
  display: flex;
  width: 90%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1em auto;
  border-radius: 30px;
  position: relative;
}

.container-boxes .box h2 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
}

.container-boxes .box h2 > a {
  text-decoration: none;
  color: #ffffff;
}

.container-boxes .box.cottages {
  background-image: url(../images/bg-cottage.jpg);
}

.container-boxes .box.price {
  background-image: url(../images/bg-price.jpg);
}

.container-boxes .box.reservations {
  background-image: url(../images/bg-reservation.jpg);
}

/* PHOTO PARALLAX */

.container-parallax {
  position: relative;
  margin-top: 3em;
  width: 100%;
  height: 250px;
  background-attachment: initial;
  background-color: #fff;
  background-image: url(../images/bg-parallax.jpg);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* SECTION WITH CIRCLES*/

.container-circles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1.5em;
  width: 100%;
  margin-top: 3em;
}

.container-circles .circle-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  margin: 1.5em auto;
  text-align: center;
}

.container-circles .circle-box .icon {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 3px solid #5893d4;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin: auto;
  box-shadow: 0 0 7px 3px #5893d4;
}

.container-circles .circle-box:hover .icon {
  box-shadow: 0 0 10px 5px #5893d4;
  transition: 0.1s ease-in-out;
}

.container-circles .circle-box .icon img {
  margin: auto;
  width: auto;
  height: 100px;
}

.container-circles .circle-box h4 {
  font-family: "Montserrat-Bold";
  font-size: 1.2rem;
  color: #5893d4;
  margin-top: 0.5em;
}

.container-circles .circle-box h4 > span::before {
  content: "\A";
  white-space: pre;
}

/* RESERVATION */

.container-reservation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  width: 100%;
  height: 300px;
  background-image: url(../images/bg-slide1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  margin: auto;
  margin-top: 2em;
  text-align: center;
  overflow-x: hidden;
}

.container-reservation::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(31, 60, 136, 0.8);
}

.container-reservation h1 {
  font-size: 1.6rem;
  color: #ffffff;
  z-index: 1;
  margin-bottom: 1em;
}

.container-reservation button.btn-reservation {
  border: 2px solid #ffffff;
  background-color: transparent;
  z-index: 1;
}

.container-reservation button.btn-reservation:hover {
  background-color: #fff;
  transition: all 0.5s ease;
}

.container-reservation button.btn-reservation a {
  display: block;
  color: #ffffff;
  padding: 0.2em 2em;
  text-decoration: none;
  font-family: "Montserrat-Bold";
  font-size: 1.4rem;
  text-transform: uppercase;
}

.container-reservation button.btn-reservation:hover a {
  color: #070d59;
  transition: all 0.5s ease;
}

@media (min-width: 576px) {
  .container-header {
    height: calc(100vh - 50px);
  }
  .container-header .slide h1 {
    padding: 1em 1.5em;
  }
  .container-about_us .content {
    width: 80%;
  }
  .container-about_us .content p {
    padding: 0.5em 0;
    line-height: 1.5em;
  }

  .container-boxes {
    display: flex;
    flex-direction: row;
  }

  .container-boxes .box {
    width: 30%;
    height: 300px;
  }

  .container-boxes .box h2 {
    margin-bottom: 80%;
    font-size: 1.5rem;
  }

  .container-parallax {
    margin-top: 1em;
    background-size: 100% auto;
  }

  .container-circles {
    flex-direction: row;
  }

  .container-circles .circle-box .icon {
    width: 100px;
    height: 100px;
  }

  .container-circles .circle-box .icon img {
    height: 70px;
  }

  .container-circles .circle-box h4 {
    font-size: 0.7rem;
  }

  .container-reservation {
    margin-top: 2em;
    height: 230px;
  }
}

@media (min-width: 768px) {
  .container-header .slide h1 {
    font-size: 3rem;
  }

  .container-about_us .content p {
    font-size: 1.1rem;
  }
  .container-boxes .box h2 {
    margin-bottom: 55%;
  }
}

@media (min-width: 960px) {
  .container-header .slide h1 {
    font-size: 3rem;
  }

  .container-about_us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    margin: auto;
    margin-top: 4em;
  }

  .container-about_us .label {
    width: 255px;
    margin-right: 3em;
  }

  .container-about_us .label h3 {
    font-size: 1.8rem;
  }

  .container-about_us .label h2 {
    margin-left: 45px;
  }

  .container-about_us .content {
    width: 100%;
  }

  .container-about_us .content p {
    line-height: 1.7em;
    font-size: 1.2rem;
  }

  .container-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    margin: auto;
    margin-top: 2.5em;
  }

  .container-boxes .box {
    width: 30%;
    height: 450px;
  }

  .container-boxes .box:hover {
    box-shadow: 0 0 10px 3px #5893d4;
    transition: 0.3s ease-out;
  }

  .container-boxes .box h2 {
    margin: 0;
    font-size: 2.2rem;
  }

  .container-boxes .box h2 > a {
    display: block;
    line-height: 450px;
  }

  .container-parallax {
    margin-top: 4em;
    height: 350px;
    background-attachment: fixed;
  }

  .container-circles {
    width: 100%;
    max-width: 1150px;
    margin: auto;
    margin-top: 4em;
  }

  .container-circles .circle-box .icon {
    width: 180px;
    height: 180px;
  }

  .container-circles .circle-box .icon img {
    height: 100px;
  }

  .container-circles .circle-box h4 {
    font-size: 1.1rem;
  }

  .container-reservation {
    margin-top: 4em;
    height: 400px;
  }

  .container-reservation h1 {
    font-size: 2.5rem;
  }

  .container-reservation button.btn-reservation a {
    font-size: 2rem;
    padding: 0.6em 1em;
  }
}
