* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "PinyonScript";
  src: url("../fonts/Pinyon_Script/PinyonScript-Regular.ttf");
}

h1 {
  font-family: "Montserrat-Bold";
  color: #ffffff;
}

h2 {
  font-family: "Montserrat-Bold";
  text-transform: uppercase;
}

p {
  font-family: "Montserrat-Regular";
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.container-menu {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  padding: 1.5em;
  background-color: #ffffff;
  box-shadow: 3px 0 3px 2px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.container-menu .logo h1 > a {
  font-family: "PinyonScript";
  font-size: 2rem;
  color: #070d59;
  text-decoration: none;
}

.container-menu .logo h1 > a > span {
  color: #f7b633;
}

.container-menu .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
}

.container-menu .hamburger span {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: #070d59;
}

.container-menu ul.navigation {
  display: none;
}

.container-menu ul.navigation.active {
  position: absolute;
  top: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  background-color: #fff;
  box-shadow: 3px 0 3px 2px rgba(0, 0, 0, 0.1);
}

.container-menu ul.navigation.active li {
  display: block;
  width: 100%;
  text-align: center;
  margin: 1em auto;
}

.container-menu ul.navigation.active li > a {
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-size: 1.1rem;
  color: #070d59;
}

/* FOOTER */

.container-footer {
  background-color: #f7b633;
  padding: 1.5em;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.5rem;
}

.container-footer .links ul {
  display: flex;
  list-style: none;
}

.container-footer .links ul > li {
  padding: 1em;
  height: 30px;
}

.container-footer .links ul > li > a {
  display: block;
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-size: 0.7rem;
  color: #070d59;
  text-transform: uppercase;
}
.container-footer .links ul > li > a:hover {
  border-bottom: 2px solid #070d59;
  transition: all 0.3s ease;
}

@media (min-width: 576px) {
  .container-menu {
    height: 50px;
  }

  .container-menu .logo h1 > a {
    font-size: 2.5rem;
  }
  .container-menu ul.navigation.active {
    top: 50px;
  }
}

@media (min-width: 1025px) {
  .container-menu {
    position: relative;
    width: 100%;
    height: 100px;
  }

  .container-menu .logo {
    margin-left: 10%;
  }
  .container-menu .logo h1 > a {
    font-size: 3rem;
  }

  .container-menu .hamburger {
    display: none;
  }

  .container-menu ul.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style: none;
    margin-right: 10%;
  }

  .container-menu ul.navigation li {
    display: block;
    margin-right: 1.5em;
    transition: 0.2s ease-in-out;
  }

  .container-menu ul.navigation li:nth-last-of-type(1) {
    margin-right: 0;
  }

  .container-menu ul.navigation li > a {
    text-decoration: none;
    font-family: "Montserrat-Regular";
    font-size: 1rem;
    color: #070d59;
  }

  .container-menu ul.navigation li > a:hover {
    color: #f7b633;
  }
}
